<h1>Thanks for your order at ThatNuttyGuy.com!</h1>
<h2>Your Order # is <u><%= @order.id %></u>.  Please refer to this order number in future communications with us to ensure prompt service.</h2>

<h3>Customer: <%= @order.email %></h3>

<table cellpadding="8" cellspacing="0" border="1">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Item Price</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |line_item| %>
      <tr>
        <td>
          <p><strong><%= line_item.title %></strong></p>
          <p>Item #<%= line_item.sku %></p>
        </td>
        <td>
          <%= line_item.quantity %>
        </td>
        <td><%= number_to_currency line_item.price %></td>
        <td><%= number_to_currency line_item.subtotal %></td>
      </tr>
    <% end %>
    <tr>
      <td>Subtotal</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><%= number_to_currency @order.subtotal %></td>
    </tr>
    <tr>
      <td>Shipping</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>FREE</td>
    </tr>
    <tr>
      <td>Estimated Tax</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>$0.00</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><strong><%= number_to_currency @order.total %></strong></td>
    </tr>
  </tbody>
</table>
