document.querySelector('[data-line-item-id=\'<%= @line_item.id %>\']').innerHTML = '<%= number_to_currency @line_item.subtotal %>'
document.getElementById('subtotal').innerHTML = '<%= number_to_currency @cart.subtotal %>'
document.getElementById('total').innerHTML = '<%= number_to_currency @cart.total %>'
document.getElementById('bitcoin-total').innerHTML = '<%= @cart.bitcoin_total %> BTC'
